body {
  font-family: "lucida console";
  font-size: 20px;
  color: #fff;
  background-color: #0D2C40;
}

.jumbotron {
  background-image: url("../img/keyboard.jpg");
  font-family: "lucida console";
  margin: 0;
  padding: 1rem;
}

.jumbotron h1 {
  font-size: 50px;
}

.container {
  background-color: #0D2C40;
}

.panel {
  margin: 2rem 0 2rem 0;
  padding: 1rem;
}

.question1 {
  background-color: #F15B31;
  line-height: 1.25;
  height: 7.5rem;
}

.question2 {
  background-color: #3AC2D8;
  line-height: 1.25;
  height: 10rem;
}

.answer1 {
  background-color: #3AC2D8;
  line-height: 1.25;
  height: 7.5rem;
}

.answer2 {
  background-color: #F15B31;
  line-height: 1.25;
  height: 10rem;
}

.radio {
  margin: 0 0 1rem 0;
}

#submit-button {
  display: block;
  max-width: 20rem;
  margin: auto;
  font-size: 20px;
  font-weight: strong;
}

#output {
  margin: 5rem 0 10rem 0;
  background-color: #C879B2;
}

#result {
  display: none;
}

#explanation {
  display: none;
}

#movie {
  display: none;
}